* {
	box-sizing: border-box;
}

body {
	background: #eee url(../img/fondo.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Rambla', sans-serif;
	font-size: 1em;
 	font-weight: 400;
 	color: #222;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	min-height: 100vh;
}

header {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

header .fila {
	display: flex;
 	flex-flow: row wrap;
 	justify-content: space-between;
 	align-items: center;
 	background: rgba(255,255,255,.0);
	padding: 13px;
}

#logo {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex: 3;
}

.logo {
	width: 100%;
	max-width: 466px;
	height: auto;
	margin-left: 44%;
}

main {
	align-self: stretch;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 86%;
	margin: 13px auto;
	background: rgba(255,255,255,0.8);
	padding: 0 13px;
	border: 2px solid #fff;
	-moz-box-shadow: 1px 1px 13px #333;
	-webkit-box-shadow: 1px 1px 13px #333;
	box-shadow: 1px 1px 13px #333;
}

.izq {
	float: right;
	margin:0 13px 13px;
}

.izq img {
	width: 100%;
	height: auto;
	max-width: 400px;
	border: 3px solid #fff;
	-moz-box-shadow: 1px 1px 6px #666;
	-webkit-box-shadow: 1px 1px 6px #666;
	box-shadow: 1px 1px 6px #666;
}

h1 {
	text-align: center;
	font-size: 2.2em;
	color: #0071bc;
	text-shadow: 1px 1px 2px #fff;
	line-height: 1em;
	margin: 22px auto;
}

.ingreso {
	color: #d11919;
}

.registro {
	color: #009245;
}

.ayuda {
	color: #662d91;
}

.principal {
	font-family: 'Parisienne', cursive;
	text-align: center;
	font-size: 2.6em;
	color: #0071bc;
	text-shadow: 1px 1px 2px #fff;
	line-height: 1em;
}

h2 {
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
	color: #009245;
	text-shadow: 1px 1px 2px #fff;
	line-height: 1em;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	color: #d11919;
	text-shadow: 1px 1px 2px #fff;
	line-height: 1em;
	padding-left: 1.3em;
	margin-bottom: -13px;
}

h4 {
	text-align: left;
	font-size: 1.6em;
	font-weight: bold;
	text-shadow: 1px 1px 2px #fff;
	line-height: 1em;
	padding-left: 1.3em;
	margin-bottom: -13px;
}

h4:first-of-type {
	color: #009245;
}

h4:nth-of-type(2) {
	color: #d11919;
}

h4:nth-of-type(3) {
	color:  #0071bc;
}

h4:nth-of-type(4) {
	color:  #93278f;
}

h4:last-of-type {
	color: #f15a24;
}

p {
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: justify;
}

a {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #f7931e;
}

.main-nav {
	width: 100%;
	background: #fbb03b;
	border: 1px solid #f7931e;
	-moz-box-shadow: 1px 1px 13px #333;
	-webkit-box-shadow: 1px 1px 13px #333;
	box-shadow: 1px 1px 13px #333;
}

.main-nav ul, .top ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-nav li {
	flex: auto;
 	font-size: 1.1em;
	text-align: center;
	border-right: 1px solid #f7931e;
}

.main-nav li:first-child {
	border-left: 1px solid #f7931e;
}

.main-nav li a {
	display: block;
	letter-spacing: .1em;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	line-height: 2.5em;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav li:hover {
	background: #f15a24;
}

.main-nav li a:hover {
	color: #eee;
}

.ion-navicon-round {
	display: none;
}

.activo {
	background: #f7931e;
}

.activo a {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.top {
	flex: 1;
}

.top li {
	flex: auto;
 	font-size: 0.8em;
 	font-weight: bold;
	text-align: center;
	margin-right: 1%;
	background: #ddd;
 	border: 1px solid #fff;
	-moz-box-shadow: 1px 1px 6px #666;
	-webkit-box-shadow: 1px 1px 6px #666;
	box-shadow: 1px 1px 6px #666;
}

.top li:last-child {
	margin-right: 0;
}

.top li a {
	display: block;
	letter-spacing: .1em;
	color: #222;
 	text-shadow: 1px 1px 2px #fff;
	line-height: 2.5em;
	text-transform: uppercase;
	text-decoration: none;
}

.top li:hover {
	background: #999;
	border: 1px solid #cecece;
}

.top li a:hover {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.top .activo {
	background: #bbb;
}

footer {
  	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
  	width: 100%;
  	background: rgba(222,222,222,.8);
  	border-top: 1px solid #999;
	-moz-box-shadow: 1px 1px 13px #333;
	-webkit-box-shadow: 1px 1px 13px #333;
	box-shadow: 1px 1px 13px #333;
}

.sociales {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 13px;
}

.sociales a {
 	font-size: 1.3em;
	color: #fff;
	background: #666;
	border-radius: 13px;
	padding: 6px 13px;
	margin-right: 13px;
}

.sociales a:hover {
	color: #222;
	background: #999;
}

.fecha {
	padding: 13px;
	color: #666;
}

.campo {
 	display: flex;
 	flex-flow: row nowrap;
	justify-content: center;
	align-items: baseline;
}

.campo1 {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.campo:last-child {
	margin-bottom: 22px;
}

.checkbox {
	color: #0071bc;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: 1px 1px 2px #fff;
	margin-bottom: 13px;
}

.campo1 {
	margin: 13px auto 33px;
}

.campo1 a {
	color: #93278f;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 2px #fff;
}

.campo1 a:hover {
	color: #662d91;
}

.formulario label {
	flex: 0.06;
	font-size: 1em;
	text-align: right;
	margin-right: 13px;
}

.formulario #registro label {
	flex: 0.12;
}

.formulario input, .formulario select {
	flex: 0.5;
	font-size: 1em;
	background: #eee;
	padding: 6px;
	margin-bottom: 13px;
}

.formulario button {
	font-size: 1em;
	color: #222;
	font-weight: bold;
	letter-spacing: .06em;
	text-shadow: 1px 1px 2px #fff;
	border: 1px solid #009245;
	border-radius: 9px;
	background: #8cc63f;
	padding: 6px 13px;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 6px #666;
	-webkit-box-shadow: 1px 1px 6px #666;
	box-shadow: 1px 1px 6px #666;
}

.formulario button:hover {
	color: #fff;
	background: #009245;
	text-shadow: 1px 1px 2px #000;
	border: 1px solid #8cc63f;
}

.formulario #registro button {
	color: #fff;
	background: #662d91;
	text-shadow: 1px 1px 2px #000;
	border: 1px solid #93278f;
	margin-top: 22px;
}

.formulario #registro button:hover {
	color: #222;
	background: #93278f;
	text-shadow: 1px 1px 2px #fff;
	border: 1px solid #662d91;
}


@media only screen and (max-width: 1368px) {

	 .logo {
		margin-left: 35%;
	 }

	.formulario #registro label {
		flex: 0.15;
	}

}

@media only screen and (max-width: 1026px) {

	 .logo {
		 margin-left: 13%;
	 }

 	.top li {
 		font-size: 0.8em;
	}

	.izq img {
		margin-top: 66px;
		max-width: 333px;
	}
	
	.formulario #registro label {
		flex: 0.2;
	}

}

@media only screen and (max-width: 940px) {

 	.logo {
		margin-left: 0;
 	}

	.top ul {
		flex-flow: column nowrap;
		justify-content: space-between;
	}

 	.top li {
		margin-bottom: 6px;
	}
	
	.top li:last-child {
		margin-bottom: 0;
	}
	
	.top li {
 		font-size: 0.9em;
	}
	
	nav li a {
		font-size: .8em;
	}

	.izq {
		float: none;
		display: flex;
		justify-content: center;
	}
	
	.izq img {
		margin-top: 0;
		max-width: 400px;
	}
	
	.formulario #registro label {
		flex: 0.23;
	}

}

@media only screen and (max-width: 820px) {

	.formulario #registro label {
		flex: 0.25;
	}

}

@media only screen and (max-width: 772px) {

 	.logo {
		max-width: 366px;
  	}
	
	 nav li a {
		font-size: .75em;
	 }
	
	.formulario #registro label {
		flex: 0.32;
	}

}

@media only screen and (max-width: 620px) {

  .container {
	  width: 95%;
  }

  .toggle-nav {
		align-self: center;
		display: flex;
		justify-content: center;
		background: #f15a24;
		border: 1px solid #f7931e;
		width: 47px;
		height: 47px;
		color: #fff;
		cursor: pointer;
		margin-bottom: 6px;
  }

  .ion-navicon-round {
	  display: inherit;
	  align-self: center;
  }

  .main-nav ul {
		flex-flow: column;
  }

  .main-nav {
		display: none;
  }

  .main-nav li {
		width: 100%;
		border-bottom: 1px solid #f7931e;
 }

	.main-nav li:first-child {
		margin-left: auto;
	}
	
	.top ul {
		flex-flow: row nowrap;
		justify-content: space-between;
 }

  .top li {
		padding: 3px 22px;
  }

 	.top li {
		margin-bottom: 0;
		margin-right: 6px;
	}
	
	.top li:last-child {
		margin-right: 0;
	}
	
	.top li {
 		font-size: 1em;
	}
	
	.principal {
		line-height: 1.3em;
	}
	
	.campo {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	
	.formulario label {
		flex: 1;
		margin-bottom: 6px;
	}

}

@media only screen and (max-width: 485px) {

	header .fila {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
	}

	 #logo {
		margin-bottom: 22px;
	}

	h4 {
		padding-left: 0;
		margin-bottom: -3px;
	}
	.formulario button {
		margin-bottom: 22px;
	}

}

@media only screen and (max-width: 415px) {

	footer {
		justify-content:center;
	}
	
	.fecha {
		display: none;
	}
	
}

@media only screen and (max-width: 322px) {
	
	.top li {
 		font-size: 0.9em;
	}

	.campo p {
		font-size: 1em;
	}
	
}